<section id="aboutbg"  class="bg-center h-full w-full text-color-light  ">
    <div class=" grid grid-cols-1 md:grid-cols-2 min-h-[400px] ">
        <aside class="px-8">
           <div class=" pt-24 mb-24">
            <h1 class="font-semibold  text-5xl mb-5"> About us</h1>
            <p class="text-lg font-medium mb-6">We take pride in maintaining a clean and <br>
                 comfortable environment, excellent customer <br>
                 service and Customer’s satisfaction. We also offer<br>
                and facilitates free housing for people affected by<br>
                natural disasters,including hurricanes and floods,<br>
                and other emergencies. </p>
            <button class=" bg-color-light  text-primary ease-in-out delay-100 hover:bg-[#A17C6B] duration-500   hover:text-white py-2 px-5 rounded-xl font-bold text-lg flex justify-center">
                 Read More
                </button>
           </div>
        </aside>
        <aside class=" relative mb-14 px-7 md:px-0">
            <img src="images/Rightimage.png" alt="" class="w-[550px]" >
        </aside>
        
    </div>
</section>
 