<section class="bg-[#E0F2E9] min-h-screen pb-28 ">
           <div class=" py-7 ">
       <span class=" text-primary flex justify-center items-center tracking-widest font-semibold text-xl"> our blog</span>
       <span class=" text-primary flex justify-center items-center font-bold text-2xl">New Post Every Minute</span>
    </div>
           <div class="flex justify-around items-center  px-3 md:px-28 ">
              <div class="ease-in-out  bg-white   hover:bg-secondary duration-1000  w-[500px] px-3  rounded-lg hover:text-white  md:px-5  ">
                  <span class=" text-primary font-bold ">ONE BEDROOM FLAT AVALIABLE FOR <br> TEMPORARY/PERMANENT RENT</span>
                  <img src="images/hux.png" alt="" class=" md:py-5">
      

                  <h1 class="text-[#A17C6B]">FEATURES:</h1>
                  <ul class="mb-7 ">
                      <li>Reading space</li>
                      <li>1 Bedroom</li>
                      <li>1 seperate toilet and bathroom</li>
                      <li>wardrope</li>
                      <li>kitchen</li>
                  </ul>
                  <button class="bg-[#A17C6B] rounded-full px-4 py-1 hover:bg-primary text-white mb-7">
                  Read More
              </button>

             <div class="flex justify-between mb-3">
                <aside>
                    <i class="  px-1 far fa-eye"> 500</i>
                    <i class="  px-1 fas fa-envelope"> 30</i>
                    <i class="  px-1 far fa-thumbs-up"> 100</i>
                 </aside>
                 <aside>
                    Aug 1st,2023
                 </aside>
             </div>
              
              </div>

              <!-- <div class="bg-red-500 w-[500px] h[300px] px-3 md:px-5 rounded-lg">
                hello
              </div> -->
            </div>  
            
            <div class="flex justify-center items-center ">
                <button class=" bg-primary hover:bg-black duration-700 rounded-full px-6 py-2 text-white mt-9 ">Read More</button>
            </div>

</section>