<footer class=" bg-primary text-white">
    <section class="p-10  ">
      <div class=" block md:flex justify-around gap-10">
        <aside class=" block md:flex  justify-between items-center">
            <span class=" py-4 px-4 mr-2 rounded-full border-2 border-secondary shadow-md shadow-green-800 bg-stone-300"></span>
            <span class="font-normal">Airbnb</span>
           
        </aside>
         <div class=" ">
           
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 font-normal md:px-20 ">

                <div class="mb-5">
                  <h4 class=" text-xl font-semibold">Company </h4>
                     <ul>
                         <li class="py-1">Home</li>
                         <li class="py-1">About</li>
                         <li class="py-1">contact</li>
                     </ul>
                 </div>
  
                      <div class=" mb-5">
                              <h4 class="text-xl font-semibold">Visit link</h4>
                              <ul>
                                  <li class="py-1">Privacy</li>
                                  <li class="py-2">Terms & <br>condition</li>
                              </ul>
                      </div>

                         <div class="mb-5">
                            <h4 class="text-xl font-semibold"> Contact</h4>
                           <ul>
                               <li class="py-1">99 (0) 101 0000 888</li>
                               <li class="py-1">Info@yourdomain.com</li>
                           </ul>
                        </div>

                        <div class="  ml-0 md:ml-10 mb-5">
                            <h4 class="text-xl font-semibold">Address</h4>
                            <h4 class="py-1">Patricia Amedee 4401 </h4>
                            <h4 class="py-1"> Waldeck Street Grapevine</h4>
                            <h4 class="py-1">Nashville, Tx 76051</h4>
                            
                        </div>

                         </div>

                
                  

                </div>
         </div>
      </div>
      
    </section>  

        <div class=" pb-3">
   
           <div class=" flex justify-center gap-5">
                     
               <i class="fab fa-facebook-f  text-2xl px-3"></i>
   
               <i class="fab fa-linkedin-in text-2xl  px-3"></i>
       
               <i class="fab fa-instagram text-2xl px-3"></i>
       
               <i class="fab fa-twitter text-2xl px-3"></i>
       
          </div>

              <aside class=" flex justify-center py-7">
                  <p>copyright © 2023 AirBnB . All Rights Reserved.</p>
              </aside>
    
</footer>


