

    <header class=" p-7" >
      <nav class="flex flex-col md:flex-row md:justify-between md:items-center relative">
     
     <div class="text-white flex justify-between">
       <aside>
         <span class=" py-1 px-4 mr-2 rounded-full border-2 border-[#5B7B7A] shadow-sm shadow-green-800 bg-stone-300"></span>
         
         Airbnb
       </aside>
       <aside role="button" class="md:hidden">
         <i class="fa fa-bars text-2xl"></i>
       </aside>
     </div>
     <aside class="flex-col md:flex-row flex gap-2 md:gap-0 md:items-center bg-primary md:bg-transparent bg-opacity-70 px-3 py-2 mt-4 md:mt-auto relative md:static -top-36">
       <div class=" nav">
         <ul class=" block  md:flex items-center text-white">
             <li><a href="index.php" class="md:px-7 py-1 block">Home</a></li>
             <li><a href="" class="md:px-7 py-1 block">About us</a></li>
             <li><a href="" class="md:px-7 py-1 block">Listing</a></li>
             <li><a href="" class="md:px-7 py-1 block">Blog</a></li>
             <li><a href=" contact.php" class="md:px-7 py-1 block">Contact us</a></li>
         </ul>   
       </div>
       <span class="py-2 px-3 bg-white rounded-full">
         <i class="fas fa-search"></i>
       </span>
     </aside>
     
       <div class=" rounded-md bg-white  px-2 py-1 rounded-tr-sm rounded-bl-sm rounded-tl-xl rounded-br-xl absolute md:static right-7 top-0">
           <button class=" text-primary font-serif text-sm md:text-lg not-italic font-medium leading-normal "> 
               <a href="admin/register.html">Register Property</a>
           </button>
       </div>
       <div class=" rounded-md bg-white  px-2 py-1 rounded-tr-sm rounded-bl-sm rounded-tl-xl rounded-br-xl absolute md:static right-7 top-0">
         <button class=" text-primary font-serif text-sm md:text-lg not-italic font-medium leading-normal ">
           <a href="admin/login.html">login</a>
         </button>
         
     </div>
   </nav>
 </header>

<script>

</script>


    




    <!-- <header class=" min-h-[50px]" >
        <div class=" text-white flex justify-between">
          
          <aside>
            <span class=" py-1 px-4 mr-2 rounded-full border-2 border-[#5B7B7A] shadow-sm shadow-green-800 bg-stone-300"></span>
            
            Airbnb
          </aside>


            <div>
              <ul class=" block  md:flex items-center text-white">
                  <li><a href="index.php" class="md:px-7 py-1 block">Home</a></li>
                  <li><a href="" class="md:px-7 py-1 block">About us</a></li>
                  <li><a href="" class="md:px-7 py-1 block">Listing</a></li>
                  <li><a href="" class="md:px-7 py-1 block">Blog</a></li>
                  <li><a href=" contact.php" class="md:px-7 py-1 block">Contact us</a></li>
              </ul>   
            </div>
         
           
              <div class=" rounded-md bg-white  px-2 py-1 rounded-tr-sm rounded-bl-sm rounded-tl-xl rounded-br-xl absolute md:static right-7 top-0">
                <button class=" text-primary font-serif text-sm md:text-lg not-italic font-medium leading-normal "> 
                    <a href="admin/register.html">Register Property</a>
                </button>
             </div>
                 <div class=" rounded-md bg-white  px-2 py-1 rounded-tr-sm rounded-bl-sm rounded-tl-xl rounded-br-xl absolute md:static right-7 top-0">
                  <button class=" text-primary font-serif text-sm md:text-lg not-italic font-medium leading-normal ">
                    <a href="admin/login.html">login</a>
                  </button>  
                 </div>
            

          </div>
    </header> -->