<section class="">
   <div class="">
    <div class=" text-primary">
        <h3 class="tracking-widest  flex justify-center font-semibold text-xl">
            our listing
        </h3>
        <p class="font-bold flex justify-center text-2xl">
            Sitewide Discounts & Savings of up to 25%
        </p>
       </div>
    
               <aside class="grid-cols-2 md:flex  space-x-3 rounded px-7 py-7">
                   <div class="">
                       <img src="images/frame3.png" alt="" class="w-[400px] h-[200px] mb-3">
                       <aside class=" py-3">
                           <h1 class="text-black font-semibold "> 2 Bedroom flat</h1>
                       <h2 class="py-2">$200</h2>
                           <button class="bg-[#A17C6B] ease-in-out duration-700 hover:bg-primary rounded-full px-6 py-2 text-white shadow-[#E0F2E9] shadow-2xl"> 
                               view more
                           </button>
                       </aside>
                   </div>
                      
                          
<!--                      
                     <div class="">
                      <img src="images/frame2.png" alt="" class="w-[180px] h-[200px] mb-3">

                      <aside class=" py-3">
                          <h1 class="text-black font-semibold"> 2 Bedroom flat</h1>
                      <h2  class="py-2">$200</h2>
                      <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                          view more
                      </button>
                      </aside>
                    </div>


                     <div class="">
                         <img src="images/frame1.png" alt="" class="w-[200px] h-[200px] mb-3">

                         <aside class=" py-3">
                             <h1 class="text-black font-semibold"> 2 Bedroom flat</h1>
                         <h2  class="py-2">$200</h2>
                         <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                             view more
                         </button>
                         </aside>
                    </div> 
              </aside>

        <aside>
            <div class="grid-cols-2 md:flex space-x-3 rounded px-7 py-7">
                <div class="">
                    <img src="images/frame4.png" alt="" class="w-[180px] h-[200px] mb-3">
                    <aside class=" py-3">
                        <h1 class="text-black font-semibold "> 2 Bedroom flat</h1>
                    <h2 class="py-2">$200</h2>
                        <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                            view more
                        </button>
                    </aside>
                </div>
                    
                        
                   
                <div class="">
                 <img src="images/frame5.png" alt="" class="w-[180px] h-[200px] mb-3">
    
                 <aside class=" py-3">
                     <h1 class=" text-black font-semibold"> 2 Bedroom flat</h1>
                 <h2  class="py-2">$200</h2>
                 <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                     view more
                 </button>
                 </aside>
               </div>
    
    
                <div class="">
                    <img src="images/frame7.png" alt="" class="w-[400px] h-[200px] mb-3">
    
                    <aside class=" py-3">
                        <h1 class=" text-black font-semibold"> 2 Bedroom flat</h1>
                    <h2  class="py-2">$200</h2>
                    <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                        view more
                    </button>
                    </aside>
               </div>
            </div>
        </aside>




              <aside>
                <div class="grid-cols-2 md:flex space-x-3 rounded px-7 py-7">
                    <div class="">
                        <img src="images/frame3.png" alt="" class="w-[200px] h-[200px] mb-3">
                        <aside class="py-3">
                            <h1 class="text-black font-semibold "> 2 Bedroom flat</h1>
                        <h2 class="py-2">$200</h2>
                            <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                                view more
                            </button>
                        </aside>
                    </div>
                        
                            
                       
                    <div class="">
                     <img src="images/frame6.png" alt="" class="w-[400px] h-[200px] mb-3">
        
                     <aside class="py-3">
                         <h1 class="text-black font-semibold"> 2 Bedroom flat</h1>
                     <h2  class="py-2">$200</h2>
                     <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                         view more
                     </button>
                     </aside>
                   </div>
        
        
                    <div class="">
                        <img src="images/frame1.png" alt="" class="w-[180px] h-[200px] mb-3">
        
                        <aside class=" py-3">
                            <h1 class="text-black font-semibold"> 2 Bedroom flat</h1>
                        <h2  class="py-2">$200</h2>
                        <button class="bg-[#A17C6B] rounded-full px-3 py-1 text-white"> 
                            view more
                        </button>
                        </aside>
                   </div>
                </div> 
              </aside> -->
    </div>

  
</section>