<!-- Add Category Modal -->
<section id="property_modal" class="fixed top-0 left-0 bg-black bg-opacity-50 h-full w-full z-50 hidden">
    <!-- Modal Content -->
    <aside class="flex justify-center items-center h-full w-full">
        <div id="cat_modal_content" class="bg-white w-full max-w-lg px-4 py-3">
            <h1 class="text-lg font-bold py-2 mb-5">
                <i class="fa fa-plus"></i> Add property
            </h1>
            <form method="post" id="frm_property">
                <div class="mb-4">
                    <label for="property">
                        <i class="fa fa-layer-group"></i>property
                    </label>
                    <input type="property" required name="property" id="properties" placeholder="Enter your name" class="block w-full rounded-md h-8 mt-1 px-3 py-2 text-slate-700 border">
                </div>
                <div class="mb-4">
                    <label for="description">
                        <i class="fa fa-envelope"></i> Description <small>(optional)</small>
                    </label>
                    <textarea rows="5" name="description" id="description" placeholder="Extra information" class="block w-full rounded-md mt-1 px-3 text-slate-700 py-2 border"></textarea>
                </div>
                <div class="mb-4">
                    <button type="submit" class="bg-primary py-2 px-4 rounded-md text-slate-50">
                        <i class="fa fa-save"></i> Save property
                    </button>
                    <button onclick="toggleModal('property_modal')" type="button" class="bg-red-500 py-2 px-4 rounded-md text-slate-50">
                        <i class="fa fa-times-circle"></i> Close
                    </button>
                </div>
            </form>
        </div>
    </aside>
</section>
<!-- Script for Category Modal -->
<script defer>
    // A function to toggle the visibility of categories modal
    let toggleModal = (modal_id) => {
        let modal = document.getElementById(modal_id);
        if (modal.classList.contains('hidden')) {
            modal.classList.remove('hidden');
        } else {
            modal.classList.add('hidden');
        }
    }

    // Send Http Request to fetch the categories
    let fetch_properties = () => {
        fetch('../../server/fetch_properties.php')
            .then((res) => res.json())
            .then((data) => {
                if (data.status == 'success') {
                    let list = ''; // Empty list
                    let options = ''; // Empty Options

                    // Loop throught the properties and accumulated the results into the list
                    data.properties.forEach((cat) => {
                        list += `<li class="py-2 px-3">
                                    ${cat.property}
                                </li>`;
                        options += `<option value="${cat.id}">${cat.property}</option>`
                    });

                    // asign the list into the ul element with the id "cat_list"
                    // document.getElementById('cat_list').innerHTML = list;
                    // document.getElementById('sel_property').innerHTML = options;
                } else {
                    alert(data.message);
                }
            });
    }
    fetch_properties();

    // Submit | Save the property
    let form = document.getElementById('frm_property');
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        let formData = new FormData(e.target);
        // Submit the property to the server|database
        fetch('../../server/save_properties.php', {
                method: 'POST', 
                body: formData,
                headers: {
                    'Authorization' : sessionStorage.getItem('token')
                }
            })
            .then((res) => res.json())
            .then((data) => {
                if (data.status == 'success') {
                    alert(data.message); 
                    form.reset();
                    fetchproperties();
                    toggleModal('cat_modal');
                } else {
                    alert(data.message);
                }
            });
    })
</script>


<!-- Add type modal -->
<section id="type_modal" class="fixed top-0 left-0 bg-black bg-opacity-50 h-full w-full z-50 hidden">
    <!-- Modal Content -->
    <aside class="flex justify-center items-center h-full w-full">
        <div id="type_modal_content" class="bg-white w-full max-w-lg px-4 py-3">
            <h1 class="text-lg font-bold py-2 mb-5">
                <i class="fa fa-plus"></i> Add Type
            </h1>
            <form method="post" id="frm_type">
                <div class="mb-4">
                    <label for="type_input">
                        <i class="fa fa-layer-group"></i>Type
                    </label>
                    <input type="text" required name="type_input" id="type_input" placeholder="Enter Property type" class="block w-full rounded-md h-8 mt-1 px-3 py-2 text-slate-700 border">
                </div>
                <div class="mb-4">
                    <button type="submit" class="bg-primary py-2 px-4 rounded-md text-slate-50">
                        <i class="fa fa-save"></i> Save property type
                    </button>
                    <button onclick="toggleModal('type_modal')" type="button" class="bg-red-500 py-2 px-4 rounded-md text-slate-50">
                        <i class="fa fa-times-circle"></i> Close
                    </button>
                </div>
            </form>
        </div>
    </aside>
</section>

<script>
    let typeForm = document.getElementById('frm_type');
    typeForm.addEventListener('submit', function(e){
        e.preventDefault();

        let data = new FormData(e.target)
        data.append('action', 'save_type')
        // Submit the category to the server|database
        fetch('../../server/property_type_mngr.php', {
                method: 'POST', 
                body: formData,
                headers: {
                    'Authorization' : sessionStorage.getItem('token')
                }
            })
            .then((res) => res.json())
            .then((data) => {
                if (data.status == 'success') {
                    alert(data.message); 
                    formPost.reset();
                    fetchPost();
                    toggleModal('post_modal');
                } else {
                    alert(data.message);
                }
            });
    })
</script>







<!-- Add Post Modal -->
<!-- Add Category Modal -->
<section id="post_modal" class="fixed top-0 left-0 bg-black bg-opacity-50 h-full w-full z-50 hidden">
    <!-- Modal Content -->
    <aside class="flex justify-center items-center h-full w-full">
        <div id="cat_modal_content" class="bg-white w-full max-w-lg px-4 py-3">
            <h1 class="text-lg font-bold py-2 mb-5">
                <i class="fa fa-plus"></i> Add Post
            </h1>
            <form method="post" id="frm_addpost" enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="sel_property">
                        <i class="fa fa-comment"></i> Post Property
                    </label>
                    <select required name="property_id" id="sel_category" placeholder="Enter your name" class="block w-full rounded-md mt-1 px-3 py-2 text-slate-700 border">
                        <option value="" selected>Select Post Property</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="title">
                        <i class="fa fa-comment"></i> Post Title
                    </label>
                    <input type="text" required name="title" id="title" placeholder="Enter your name" class="block w-full rounded-md mt-1 px-3 py-2 text-slate-700 border">
                </div>
                <div class="mb-4">
                    <label for="body">
                        <i class="fa fa-edit"></i> Post Body
                    </label>
                    <textarea rows="5" name="body" id="body" placeholder="Extra information" class="block w-full rounded-md mt-1 px-3 text-slate-700 py-2 border"></textarea>
                </div>
                <div class="mb-4">
                    <label for="ft_image">
                        <i class="fa fa-edit"></i> Featured Imagge
                    </label>
                    <input type="file" accept="image/*" required name="ft_image" id="ft_image" placeholder="Enter your name" class="block w-full rounded-md  mt-1 px-3 py-2 text-slate-700 border">
                    <!-- <input type="file" multiple accept="image/*" required name="ft_image" id="ft_image" placeholder="Enter your name" class="block w-full rounded-md  mt-1 px-3 py-2 text-slate-700 border"> -->
                </div>
                <div class="mb-4">
                    <button type="submit" class="bg-primary py-2 px-4 rounded-md text-slate-50">
                        <i class="fa fa-save"></i> Save Post
                    </button>
                    <button onclick="toggleModal('post_modal')" type="button" class="bg-red-500 py-2 px-4 rounded-md text-slate-50">
                        <i class="fa fa-times-circle"></i> Close
                    </button>
                </div>
            </form>
        </div>
    </aside>
</section>

<script>
    // Submit | Save the categgory
    let formPost = document.getElementById('frm_addpost');
    formPost.addEventListener('submit', (e) => {
        e.preventDefault();
        let formData = new FormData(e.target);
        formData.append('action', 'save_post')
        // Submit the category to the server|database
        fetch('../../server/manage_post.php', {
                method: 'POST', 
                body: formData,
                headers: {
                    'Authorization' : sessionStorage.getItem('token')
                }
            })
            .then((res) => res.json())
            .then((data) => {
                if (data.status == 'success') {
                    alert(data.message); 
                    formPost.reset();
                    fetchPost();
                    toggleModal('post_modal');
                } else {
                    alert(data.message);
                }
            });
    })
</script>