<section id="testbg" class=" min-h-screen bg-white opacity-75 bg-cover bg-center ">
<aside class="py-14 ">
    <h1 class=" flex justify-center items-center text-primary font-semibold text-xl">Testimonial</h1>
    <p class=" flex justify-center items-center text-primary  font-bold text-lg md:text-2xl ">We care About Our Customers Experiences Too</p>
</aside>

      <!-- card container -->
<aside class="flex justify-center px-5  md:">
    <div class="bg-white w-[400px] h-[400px] absolute hover:bg-primary  hover:-translate-x-0 hover:scale-110  duration-1000 hover:text-white rounded-3xl motion-reduce:transition-none delay-1000 px-0 md:px-3">
         <div class="flex justify-center ">
             <img src="images/profile.png" alt="" class="w-14 h-9 flex justify-center relative top-0">
         </div>
         <h1 class=" flex justify-center items-center font-bold text-xl py-8">Very Happy For Rent <br> Apartment</h1>
         <aside class="flex justify-center items-center hover:text-white ">
             <img src="images/star1.png" alt="star" class="px-1">
             <img src="images/star1.png" alt="star" class="px-1">
             <img src="images/star1.png" alt="star" class="px-1">
             <img src="images/star1.png" alt="star" class="px-1">
             <img src="images/star2.png" alt="star" class="px-1">
            </aside>
         <aside class=" py-4 ">
                 <p class="flex justify-center">Apparently we had reached a great </p>
                 <p class=" flex justify-center px-1">  height in the atmosphere.For the </p>
                 <p class=" flex justify-center px-1">  sky was a dead black Apparently we </p>
                 <p class=" flex justify-center px-1">had reached.</p>
         </aside>

         <div class="flex justify-center items-center ">
             <aside class="bg-red-600 w-11 h-3 rounded"></aside>
             <aside class="px-3 font-bold ">Maria Williams</aside>
         </div>

         <aside class="bg-secondary mt-9 px-7 py-3 rounded-tr-sm rounded-bl-xl rounded-tl-sm rounded-br-xl"></aside>
            
         <!-- <div class="relative h-32 w-32">
            <div class="absolute inset-x-0 bottom-0 h-16">08</div>
          </div>
          </div> -->
     </aside>
   


</aside>
</section>